*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log

dump.rdb

lib/
manifest.yml
overridedb.*
target
transaction-logs

secrets.yml
.gradletasknamecache
.sts4-cache
target/
release.properties

buildNumber.properties
.mvn/timing.properties
.idea/
*.iml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
